:global {
  html[data-theme='dark'] {
    --c-bg-dev-experts: var(--token-secondary-bg-c);
    --c-text-dev-experts: #d7dde2;
    --c-heading-dev-experts: #d7dde2;
    --c-link-dev-experts:#5475ff;
  }

  html[data-theme='light'] {
    --c-bg-dev-experts: #f6f8fc;
    --c-text-dev-experts: var(--c-carbon-90);
    --c-heading-dev-experts: var(--c-carbon-100);
    --c-link-dev-experts: #5475ff;
  }
}

.developerExperts {
  background-color: var(--c-bg-dev-experts);
  padding: 2.5rem;
  border-radius: 16px;
  margin-block-start: 1.35rem;

  header {
    max-width: 29rem;
  }

  &Title {
    margin-block-end: 0.5rem;
    color: var(--c-heading-dev-experts);
  }

  &Description {
    margin-block-end: 2.5rem;
    line-height: 1.6 !important;
    color: var(--c-text-dev-experts);
  }

  &Links {
    max-width: 38.313rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      font-weight: 600;
      color: var(--c-link-dev-experts);
      flex: 0 0 calc(50% - 0.5rem); 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .9rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
